@import "../../../styles/general.scss";

.chat-box{
    flex-grow: 2;
    flex-wrap: wrap;
    background-color: $white;
    box-sizing: border-box;
    padding: 1.5em;
    overflow: auto;
    height: 40vh;
}

.mymessage-wrap{
    @extend %flex-display;
    justify-content: flex-end;
    margin-top: 5px;
    margin-bottom: 10px;
}

.mymessage{
    @extend %flex-display;
    align-content: center;
    background-color:$primary-blue ;
    color: black;
    border-radius: 10px 10px 0px 10px;
    padding: 9px;
    position: relative; 
    margin-bottom: 0;
    p{
        margin: 0;
        max-width: 35vw;
        text-align: justify;
        overflow-wrap: break-word;
     }
}