/*------------------------------------
    Fonts
------------------------------------*/ 
@font-face{
    font-family: 'Baloo Tamma 2';
    font-style: normal;
    src: local('Baloo Tamma 2'), url(./Fonts/BalooTamma2-Regular.ttf) format('truetype')
  }
/*------------------------------------
    Colors
------------------------------------*/ 
$grey: #eee;
$white: #fff;
$primary-blue: #0ac5e6f1;
$darker-grey: rgb(80, 77, 77);

/*------------------------------------
    Extends
------------------------------------*/ 
%flex-display {
    display: flex;
    flex-wrap: wrap;
  } 
