@import "../../../styles/general.scss";

.send-wrap{
    @extend %flex-display;
    justify-content: flex-start;
    flex-grow: 0.1;
    padding: 2em 0.4em;
    background-color: $grey;
    input{
      flex-grow: 3.5;
      height: 2.739em;
      font-size: 1.2em;
      padding: 0em .3em;
      border: 0em ;
      font-family: 'Baloo Tamma 2';
      &:focus{
        outline: none;
      }
    }
    //send image
    img{
      flex-grow: .5;
      height: 3.4em;
      width: 0.015em;
      cursor: pointer;
      // background-color: royalblue;
    }
  }


  .emoji-wrap{
    display: flex;
    justify-content: center;
    flex-grow: .16;
    align-content: center;
    height: 2.3em;
    padding-top: 1em;
    padding-left: .2em;
    border-radius: 2em 0 0 2em;
    background-color: $white;
  }

  .attach-wrap{
    flex-grow: .16;
    align-content: center;
    height: 2.35em;
    padding-top: .95em;
    padding-right: .2em;
    border-radius: 0 2em 2em 0;
    background-color: $white;
  }

  input[type="file"]{
    display: none;
    cursor: pointer;
  }


  .emoji-icon{
    color: $darker-grey;
    cursor: pointer;
    font-size: larger;
  }