@import "../../../styles/general.scss";

.profile-wrap {
  display: flex;
  width: 100vw;
  height: 100vh;
  @media screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.left-wrap {
  display: flex;
  flex-grow: 1.2;
  align-items: center;
  background-color: $primary-blue;
  @media screen and (max-width: 1050px) {
    height: fit-content;
    padding: 1.5em 0 1.5em 0;
  }
}

.left {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  right: 0;
  margin-left: 37.5%;
  border-radius: 80px 0em 0em 80px;
  background-color: $grey;
  h1 {
    word-break: break-word;
    text-align: justify;
    margin: 1em 0em 0.5em 0em;
    max-width: 12em;
    height: 4em;
    overflow-x: hidden;
  }
  @media screen and (max-width: 1050px) {
    flex-direction: row;
    align-items: inherit;
    height: 10em;
    margin-left: 2%;
    border-radius: 80px 0em 0em 80px;
    h1 {
      margin-top: 4.5em;
    }
  }
}

.avatar-info-wrap {
  display: flex;
  justify-content: center;
  margin: 5em 0em 1em 0em;
  @media screen and (max-width: 1050px) {
    margin: 0.1em 0em 0.2em 0.3em;
    height: fit-content;
  }
}

.username {
  display: flex;
  justify-content: center;
  margin-top: 1.3em;
  @media screen and (max-width: 1050px) {
    align-items: center;
  }
}

.right-wrap {
  display: flex;
  flex-grow: 1.5;
  align-items: center;
  background-color: $grey;
  @media screen and (max-width: 1050px) {
    height: 100%;
    align-items: flex-start;
    padding: 10% 0 5% 0;
  }
}

.right {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 75%;
  left: 0;
  border-radius: 0 80px 80px 0;
  margin-right: 31.5%;
  background-color: $white;
  @media screen and (max-width: 1050px) {
    align-items: center;
    border-radius: 0 50px 50px 0;
    margin-right: 10em;
    width: 90%;
    height: 100%;
  }
}

input[type="file"] {
  display: none;
  cursor: pointer;
}

.info-changes {
  width: 100%;
  height: 100%;
  @media screen and (max-width: 1050px) {
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    align-items: flex-start;
  }
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  height: 50%;
  width: 62%;
  margin: 8em 0em 0em 15%;
  @media screen and (max-width: 1050px) {
    margin: 8% 0em 0em 8%;
  }
}

.buttons-wrap {
  display: flex;
  justify-content: flex-end;
  margin: 3.5em 10em 0 10em;
  padding-right: 2.9em;
  button {
    margin-left: 3.5%;
  }
  @media screen and (max-width: 1050px) {
    justify-content: flex-start;
    padding-right: 0;
    margin: 3.5em 0 0 10%;
  }
}

.profile-input-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-left: 2em;
  input {
    width: 26em;
    padding: 0.5em;
  }
}

.edit-input {
  height: 1.8em;
  width: 8em;
  margin-top: 3em;
  outline: none;
  background-color: rgba(173, 167, 170, 0.383);
  @media screen and (max-width: 1050px) {
    text-align: justify;
    width: 6em;
    margin-top: 2.5em;
  }
}
