@import "../../../styles/general.scss";

.me{
    display: flex;
    justify-content: flex-start;
    flex-grow: 0.2;
    margin: 0em;
    padding-left: .8em;
    width: 80%;
    // background-color: violet;
    div{
      display: flex;
      // background-color: red;
    }
    //setting icon
    .setting-icon{
      cursor: pointer;
      margin: 3.6em 0em 0em 3.5em;
      // padding-left: 4em ;
      width: 1.2em;
      height: 1.2em;
      // background-color: rgb(63, 62, 62);
    }
}

.myIntroduce{
    display: flex;
    flex-direction: column;
    margin: 2.2em 0em 0em 0em;
    margin-left: 1em;
    label{
      width: 12em;
      height: 3.5em;
      overflow-x: hidden;
      margin-top: .2em;
    }
    //user name
    h2{
      margin: 0em;
      margin-top: .15em;
      text-align:left
    }
    //about
    p{
      text-align: left;
      font-size: 1em;
      margin: 0em;
      color: $darker-grey;
    }
}