@import "./generalUse.scss";
@font-face{
  font-family: 'Baloo Tamma 2';
  src: local('Baloo Tamma 2'), url(./Fonts/BalooTamma2-Regular.ttf) format('truetype')
}

/*------------------------------------
    Login                       
------------------------------------*/ 

.login-page-wrap{
    @extend %flex-display;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Baloo Tamma 2';
    font-style: normal;
}

.login-signup-wrap{
    @extend %flex-display;
    flex-direction: column ; 
    justify-content: center ;
    flex-grow: 1;
    height: 100vh ;
    position: relative;
    background-color: $primary-blue;
}

.login-signup-part{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10% 0 0 10% ;
    position: absolute;
    height: 79vh ;
    right: 0;
    left: 20em;
    background-color: $grey;
    div{
        align-self: flex-start;
        margin: 5em 4.5em;
    }
    img{
        justify-self: center;
    }
}

.login-login-wrap{
    @extend %flex-display;
    flex-direction: column ; 
    justify-content: center ;
    flex-grow: 1;
    height: 100vh ;   
    position: relative;
    background-color: $grey;
}

.login-login-part{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 1;
    border-radius:0 10% 10% 0;
    position: absolute;
    height: 47em ;
    right: 20em;
    left: 0;
    background-color: $white;
}

.login-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35em;
    margin: 5em 4.5em;
    a{
        text-align: left;
        text-decoration: none;
    }
} 

.login-title-wrap{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1em;
    h1{
        font-size: 2.3em;
        margin: 0em;
        height: 1.3em;
    }
    p{
        font-size: 1em;
        margin: 0em;
        color: $darker-grey;
     }   
}

.login-input-wrap{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   height: 20vh;
}

.input-error{
    margin: 1em 0em .5em 0em;
    input{
      text-align: left;
      height: .8em;
      width: 19em;
    }
}

.login-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 4em;
}

/*------------------------------------
    Sign Up
------------------------------------*/ 

.signup-page-wrap{
    @extend %flex-display;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Baloo Tamma 2';
    font-style: normal;
}

.signup-signup-wrap{
    @extend %flex-display;
    flex-direction: column ; 
    justify-content: center ;
    flex-grow: 1;
    height: 100vh ;
    position: relative;
    background-color: $grey;
}

.signup-signup-part{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 10% 0 0 10% ;
    position: absolute;
    height: 47em ;
    right: 0;
    left: 20em;
    background-color: $white;
}

.signup-login-wrap{
    @extend %flex-display;
    flex-direction: column ; 
    justify-content: center ;
    flex-grow: 1;
    height: 100vh ;   
    position: relative;
    background-color: $primary-blue;
}

.signup-login-part{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 1;
    border-radius:0 10% 10% 0;
    position: absolute;
    height: 47em ;
    right: 20em;
    left: 0;
    background-color: $grey;
    div{
        align-self: flex-start;
        margin: 5em 4.5em;
    }
    img{
        justify-self: center;
    }
}

.signup-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3em 4.5em;
}

.signup-title-wrap{
    display: inline-block;
    text-align: left;
    margin-top: 1.5em;
    margin-bottom: 4em;
    h1{
        font-size: 2.3em;
        margin: 0em;
        height: 1.3em;
    }
    p{
        font-size: 1em;
        margin: 0em;
        color: $darker-grey;
     }  
}

.signup-input-wrap{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   height: 25vh;
   margin: 2em 0em .5em 0em;
//    background-color: seagreen;
}

.two-input-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    // background-color: springgreen;
    input{
      text-align: left;
      height: .8em;
      width: 13.6em;
    }
}

.email-input{
    width: 100%;
    height: .8em;
}

.signup-submit{
    width: 20em;
    text-align: left;
    margin-top: 1em;
    p{
        text-align: left;
    }
}

/*------------------------------------
    My Profile
------------------------------------*/ 

.profile-wrap{ 
    display: flex;
    width: 100vw;
    height: 100vh;
}

.left-wrap{
    @extend %flex-display;
    align-items: center;
    flex-grow: 1.8;
    background-color: $primary-blue;
}

.left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45em ;
    right: 0; 
    margin-left: 15em;
    border-radius: 5em 0em 0em 5em ; 
    background-color: $grey;
    h1{
        margin: 1em 0em 1em 0em;
        // background-color: violet;
    }
}

.avatar-info-wrap{
    display: flex;
    justify-content: center;
    margin: 5em 0em 1em  0em;
    // background-color: tomato;
}

.right-wrap{
    @extend %flex-display;
    flex-grow: 1.5;
    align-items: center;
    background-color: $grey;
}

.right{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45em ;
    left: 0;
    border-radius: 0em 5em 5em 0em ; 
    margin-right: 25em;
    background-color: $white;
    }

input[type="file"]{
    display: none;
    cursor: pointer;
    }

.info-changes{
    width: 100%;
    height: 100%;
}

.forms{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    height: 50%;
    width: 62%;
    margin: 8em 0em 0em 10em;
}

.buttons-wrap{
    display: flex;
    justify-content: flex-end;
    margin: 3.5em 10em 0em 10em;
    button{
        margin-left: 1.5em;
    }
}

.profile-input-wrap {
    display: flex;
    justify-content: space-around;
    margin-left: 3em;
    input {
    width: 26em;
}} 