@import "./generalUse.scss";
@font-face{
  font-family: 'Baloo Tamma 2';
  src: local('Baloo Tamma 2'), url(./Fonts/BalooTamma2-Regular.ttf) format('truetype')
}

body{
    margin: auto 0; 
}
  
.Conv-pg-wrap{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: blue; */
}
  

.contacts-me-search-wraps{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: .3;
    background-color: $grey;
}
  

.me{
    @extend %flex-display;
    justify-content: space-between;
    flex-grow: 0.2;
    margin: 0em;
    padding: 0em;
    div{
      display: flex;
    }
    //setting icon
    img{
      cursor: pointer;
      margin: 3.6em 3.8em 0em 0em;
      width: 1.2em;
      height: 1.2em;
    }
}

a{
  text-decoration: none;
  color: black;
}

// .setting-button{
//   display: none;
// }

.myIntroduce{
  display: flex;
  flex-direction: column;
  margin: 2.2em 0em 0em 0em;
  margin-left: 1em;
  label{
    width: 11em;
    height: 2.5em;
    overflow-x: hidden;
    margin-top: .2em;
  }
  //user name
  h2{
    margin: 0em;
    margin-top: .15em;
    text-align:left
  }
  //about
  p{
    text-align: left;
    font-size: 1em;
    margin: 0em;
    color: $darker-grey;
  }
}


.contacts-search-wrap{
    @extend %flex-display;
    justify-content: center;
    flex-grow: 0.01;
    background-color: $grey;
    //search icon
    img{
      height: 2.4em;
      margin: 0.49em 0em 1.8em 0em;
      background-color: $primary-blue;
    }
    //search input
    input[type="text"]{
      width: 24em;
      height: 2.4em;
      margin: 0.6em 3.3em 0em 0em;
      margin-right: 0rem;
    }
}
  

.contact-lists{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 6;
    margin: 0em 3em 8em 3em;
    background-color: $white;
    /* background-color: rgb(20, 194, 238); */
}
  

.chat-send-profile-status-wrap{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 2;
    padding: 0em;
}

.status-wrap{
    @extend %flex-display;
    flex-grow: 0.15;
    padding: 0em;
    background-color: $white;
    border-bottom: 1em solid $grey;
    border-top: 1em solid $grey;
    border-right: 1em solid $grey;
    //status text
    h4{
      margin: 0em;
      align-content: center;
    }
}

.status-text{
  display: flex;
  align-items: center;
  margin: 0em 0em 0em 1.5em;
  padding: 0em;

}

.all-statuses{
  display: flex;
  margin: 1em 0em 0em 0em;
}

.indivisual-status{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0em 0em 0em 2.5em;
  position: relative;
  h4{
    color: $primary-blue;
    margin-top: .3em;
  }
}


.chat-send-profile-wrap{
    @extend %flex-display;
    flex-grow: 4;
    /* background-color: brown; */
}


.chat-send-wrap{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 3;
    /* background-color: cyan; */
}


.chat-box{
    flex-grow: 2;
    flex-wrap: wrap;
    background-color: $white;
}
  


  .send-wrap{
    @extend %flex-display;
    justify-content: flex-start;
    flex-grow: 0.1;
    padding: 2em 0.4em;
    background-color: $grey;
    input{
      flex-grow: 3.5;
      height: 2.739em;
      font-size: 1.2em;
      padding: 0em .3em;
      border: 0em ;
      font-family: 'Baloo Tamma 2';
      &:focus{
        outline: none;
      }
    }
    //send image
    img{
      flex-grow: .5;
      height: 3.4em;
      width: 0.015em;
      cursor: pointer;
      // background-color: royalblue;
    }
  }


  .emoji-wrap{
    display: flex;
    justify-content: center;
    flex-grow: .16;
    align-content: center;
    height: 2.3em;
    padding-top: 1em;
    padding-left: .2em;
    border-radius: 2em 0 0 2em;
    background-color: $white;
  }

  .attach-wrap{
    flex-grow: .16;
    align-content: center;
    height: 2.35em;
    padding-top: .95em;
    padding-right: .2em;
    border-radius: 0 2em 2em 0;
    background-color: $white;
  }

  input[type="file"]{
    display: none;
    cursor: pointer;
  }


  .emoji-icon{
    color: $darker-grey;
    cursor: pointer;
    font-size: larger;
  }


  .contact-profile-wrap{
    @extend %flex-display;
    flex-direction: column;
    align-items: center;
    flex-grow: .6;
    background-color: $grey;
  }


  .contacts-profile{
    @extend %flex-display;
    flex-direction: column;
    width: 16.5em;
    height: 22em;
    border-radius: 5px;
    margin: 5em 0.5em 0em .5em ;
    padding: 1em 2em 1em 2em;
    background-color: $white;
    //about label
    label{
      width: 18em;
      height: 7em;
      overflow-x: hidden;
      // margin-top: .2em;
    }
    //user name
    h2{
      text-align: center;
      margin: 0em;
    }
    //about
    p{
      text-align: left;
      color: $darker-grey;
      font-size: 1em;
      margin: .5em 0em;
    }
  }

  .contact-profile-menu-wrap{
    display: flex;
    justify-content: space-evenly;
    height: 2.5em;
  }

hr{
  border: 1px solid $grey;
  width: 16em;
  align-self: center;
  margin-top: .5em;
}    