@import "../../../styles/general.scss";

.conversation {
  display: flex;
  flex-direction: row;
  padding: 13px;
  border-radius: 5px;
  cursor: pointer;
  &:focus {
    background: red;
    color: yellow;
  }
  &:hover {
    background-color: #0ac5e683;
  }
}

.conversationList-text {
  display: flex;
  flex-grow: 1;
}

.conversationList-info {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  padding: 10px;
}

#conversationList-name {
  font-weight: bold;
  width: 9em;
}

#conversationList-ltsMsg {
  color: rgb(65, 61, 61);
  width: 11em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 0.9rem;
  margin: 0;
  resize: unset;
}

#conversationListv-date {
  padding: 10px;
  padding-left: 0;
  flex-grow: 0.55;
  font-size: 10px;
  color: rgb(65, 61, 61);
  width: 0.3em;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.conversationList-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  flex-grow: 0;
}

.hr-contacts {
  margin-top: 0em;
  margin-bottom: 0em;
}
