@import "../../../styles/general.scss";


.login-page-wrap{
    display: flex;
    width: 100vw;
    height: 100vh;
    @media screen and (max-width: 850px) {
        flex-direction: column;
    }
}



.login-signup-wrap{
    display: flex;
    flex-direction: column ; 
    justify-content: center ;
    flex-grow: 1;
    height: 100% ;
    position: relative;
    background-color: $primary-blue;
    @media screen and (max-width: 850px) {
        height: 28%;
    }
}

.login-signup-part{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 50px 0 0 50px ;
    position: absolute;
    height: 78.5% ; 
    width: 67%;
    right: 0;
    background-color: $grey;
    @media screen and (max-width: 850px) {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 50px 0 0 50px ;
        width: 90%;
    }
    div{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 12.5% 10% 10% 10%;
        @media screen and (max-width: 850px) {
            width: 70%;
            height: 50%;
            margin: 7% 7% 5% 28%;
            button{
                border: 1px;
                height: 60%;
                width: 30%;
                padding: 3%;
                left: 0;
            }
            span{
                font-size: 67%;
            }
        }
    }
    img{
        justify-self: center;
        width: auto ;
        height: 70% ;
        @media screen and (max-width: 850px) {
            left: 5%;
            right: 0;
            position: absolute;
        }
    }
}

.login-login-wrap{ 
    display: flex;
    flex-direction: column ; 
    justify-content: center ;
    flex-grow: 1;
    height: 100% ;   
    position: relative;
    background-color: $grey;
}

.login-login-part{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-radius:0 50px 50px 0;
    position: absolute;
    height: 78.5% ;
    width: 67%;
    left: 0;
    background-color: $white;
    @media screen and (max-width: 850px) {
        width: 90%;
        height: 90%;
    }
}

.login-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 78%;
    margin: 10% 10%;
    a{
        text-align: left;
    }
    @media screen and  (max-width: 850px) {
        margin: 7% 10%;
        h1{
            font-size: 30px  !important;
        }
        p{
            font-size: 12px  !important;
        }
    }
}  

.login-title-wrap{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1em;
    h1{
        font-size: 2.3em;
        margin: 0em;
        height: 1.3em;
    }
    p{
        font-size: 1em;
        margin: 0em;
        color: $darker-grey;
     }  
     @media screen and (max-width: 850px) {
        margin-bottom: 0;
        h1{
            font-size: 27px  !important;
        }
        p{
            font-size: 10px  !important;
        }
    }
}

.login-input-wrap{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 100%;
   height: 23vh;
}

.input-error{
    display: flex;
    flex-direction: column;
    margin: 1% 0em 1%0em;
    @media screen and (max-width: 850px) {
        margin: 1% 0em 1% 0em;
        flex-wrap: wrap;
        p{
            margin: 0px;
            font-size: .5em;
        }
    }
    input{
      text-align: left;
      height: 1.5vh;
      min-width: 17vw;
    }
    p{
        margin: 0px;
        font-size: .89em;
        color: red;
    }
}

.login-submit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 95%;
    width: 88%;
    @media screen and (max-width: 850px) {
        padding: 12% 0 3.2% 0;
        button{
            width:  fit-content;
            height:  fit-content;
            font-size: 60% ;
            margin-right: 20%;
        }
        span{
            display: flex;
            font-size: 90% ;
            align-items: center;
            label{
                padding-top: 3.5px;
                font-size: 68%;
            }
        }
    }
}

#forget-pass{
    @media screen and (max-width: 850px) {
        font-size: 70%;
    }
}