@import "../../../styles/general.scss";

.contacts-me-search-wraps{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: .3;
    height: 100vh;
    background-color: $grey;
}

.contacts-search-wrap{
    @extend %flex-display;
    padding: 1em 0em 2.5em 3em;
    background-color: $grey;
    //search icon
    img{
      height: 2.4em;
      margin: 0em;
      background-color: $primary-blue;
    }
    //search input
    input[type="text"]{
      width: 25em;
      height: 2.4em;
      margin: 0em;
      margin-right: 1em;
    }
}

.contact-lists{
    @extend %flex-display;
    flex-direction: column;
    flex-grow: 6;
    margin: 0em 3em 8.5em 3em;
    background-color: $white;
    width: 73%;
    // background-color: rgb(241, 15, 15);
}