@import "../../../styles/general.scss";

.contacts-me-search-wraps{
    display: flex;
    flex-direction: column;
    flex-grow: .1;
    height: 100vh;
    background-color: $grey;
}

.contacts-search-wrap{
    display: flex;
    padding: 1em 0em 2.5em 3em;
    background-color: $grey;
    //search icon
    img{
      height: 2.4em;
      margin: 0em;
      background-color: $primary-blue;
    }
    //search input
    input[type="text"]{
      width: 77%;
      height: 2.4em;
      margin: 0em;
      margin-right: 1em;
    }
}

.contact-lists{
    display: flex;
    flex-direction: column;
    flex-grow: 6;
    margin: 0em 3em 8.5em 3em;
    background-color: $white;
    width: 81%;
    overflow: auto;
}